@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.containerGlobal {
  background: linear-gradient(90deg, #0000ff, #6a5acd);
  height: 70px;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 3;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.image {
  width: 180px;
  height: auto;
}
.bar {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  gap: 15px;
}
.navigation {
  color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 100%;
  transition: 5ms;
  &:hover {
    height: 100%;
    border-bottom: #f2f4f8 4px solid;
  }
}
.navigationActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94%;
  transition: 5ms;
  border-bottom: #f2f4f8 4px solid;
}
.links {
  text-decoration: none;
  color: #f2f4f8;
  height: 100%;
  font-size: 13px;
  font-weight: 500;
}

.box3 {
  display: flex;
  align-items: center;
}
.buttons {
  background: none;
  border: none;
  color: #cdd3de;
  width: 30px;
  margin-inline: 2px;
  height: 70px;
  transition: background-color 0.3s ease-in-out;
}

.icon {
  font-size: 20px;
  width: 20px;
  height: 70px;
  color: #f2f4f8;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    height: 66px;
    border-bottom: #f2f4f8 4px solid;
    color: #6a5acd;
  }
}

.hidden {
  position: absolute;
  right: 0%;
  top: 70px;
  background: linear-gradient(180deg, #c8c6c6e5, #ffffff);
  display: flex;
  width: 100%;
  min-height: 200px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.navigation:hover .hidden {
  opacity: 1;
}
.menu {
  display: flex;
}
.title {
  margin: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #455363;
}
.bold {
  font-size: 13px;
  font-weight: 700;
  line-height: 15.73px;
  text-align: left;
  color: #455363;
  text-decoration: none;
}
.text {
  margin-top: 2px;
  font-size: 11px;
  font-weight: 600;
  line-height: 13.31px;
  text-align: left;
  color: #697581;
}
.boxText {
  margin: 30px 30px 10px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.searchContainer {
  position: relative;
}
.searchInput {
  width: 300px;
  border-radius: 20px;
  padding: 10px;
}
.searchBox {
  position: absolute;
  top: 70px;
  right: 20%;
  background: linear-gradient(90deg, #0000ff, #6a5acd);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeSearch 0.5s ease-in-out;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.searchHistory {
  margin-top: 8px;
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.searchHistory li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 4px 0;
  color: #f5f5f5d3;
}

.searchHistory li:hover {
  color: #ffff;
}

.removeHistory {
  margin-left: 8px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

.removeHistory:hover {
  color: rgb(255, 255, 255);
}

@keyframes fadeSearch {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.iconMobile {
  font-size: 40px;
  color: #f2f4f8;
}
@media (max-width: 999px) {
  .container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .image {
    margin: 0 0 0 10px;
  }
  .buttons {
    margin: 5px 10px;
  }

  .containLanguage {
    flex-direction: column;
    align-items: flex-start;
  }

  .hidden {
    position: static;
    box-shadow: none;
  }

  .navigation:hover .hidden {
    display: none;
  }
}
