.containerGlobal {
  background: linear-gradient(90deg, #d3d3d1, #5c5c5d);
  height: 70px;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image {
  width: 150px;
  height: auto;
}

.bar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navigation {
  color: #f2f4f8;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  height: 100%;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
}

.navigationActive {
  border-bottom: 4px solid #f2f4f8;
}

/* Nueva animación para el subrayado */
.navigation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0); /* Inicialmente está colapsado */
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom right;
}

.navigation:hover::after,
.navigationActive::after {
  transform: scaleX(1); /* Expande la línea al hacer hover o estar activo */
  transform-origin: bottom left;
}

.box3 {
  display: flex;
  align-items: center;
}

.buttons {
  background: none;
  border: none;
  color: #cdd3de;
  width: 30px;
  height: 70px;
  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;
}

.icon {
  font-size: 20px;
  color: #f2f4f8;
  transition: color 0.3s ease-in-out;
}
.links{
  text-decoration: none;
}
.buttons:hover .icon {
  cursor: pointer;
  color: #6a5acd;
}

.searchBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 300px; /* Tamaño ajustado para que esté visible */
}

.searchInput {
  padding: 8px;
  border-radius: 4px;
  height: 100%;
  margin: 10% 0 0 0 ;
}

.searchHistory {
  margin-top: 8px;
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.searchHistory li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.removeHistory {
  color: #fff;
  cursor: pointer;
}

.removeHistory:hover {
  color: #ff6347;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .bar {
    flex-direction: column;
    gap: 10px;
  }

  .searchBox {
    width: 90%; /* Ajustar para pantallas más pequeñas */
  }
}
