.container {
  background-color: #5c5c5d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.chest {
  display: flex;
  padding-top: 10px;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.Box1 {
  background-color: #c4c2c2;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 416px;
  text-align: center;
  align-content: center;
}
.Box2 {
  text-align: center;
  align-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: large;
}
.link {
  color: #f2f4f8;
  text-decoration: none;
  margin: 10px 0px;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-color: grey;
  margin: 0 15px 0 0;
}
.navbar2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 50px;
  margin: 0 150px 30px 0;
}
.chest2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.chest3 {
  display: flex;
  justify-content: space-between;
  background-color: #8a8889;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.links {
  color: #cdd3de;
  margin: 5px;
  font-size: 15px;
  text-decoration: none;
}
.icon {
  font-size: 21.03px;
  margin: 10px;
  color: #ffff;
  cursor: pointer;
}

.icons {
  margin: 0 20px 0 80px;
}

.copyright {
  margin: 0 60px 0 0;
  color: #f2f4f8;
}
.componentNav {
  color: #cdd3de;
  margin: 10px;
  cursor: pointer;
}
.text {
  color: #cdd3de;
  margin: 10px 0 10px 0;
}
.location {
  width: 350px;
  margin: -13px;
}
.title {
  color: #0064ff;
}
.mail {
  color: #0064ff;
}

.speach {
  color: #f2f4f8;
}
.logoContainer {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el lema */
  gap: 10px; /* Espacio entre el logo y el lema */
}

.lema {
  width: 400px;
  font-size: 18px; /* Tamaño de fuente del lema */
  color: #ffff; /* Color del lema */
  font-weight: 400; /* Peso de la fuente (puedes ajustarlo) */
}

/* Responsividad */
@media (max-width: 900px) {
  .logoContainer {
    flex-direction: column; /* En pantallas pequeñas, coloca el logo y lema en columna */
    align-items: center;
  }

  .lema {
    font-size: 16px; /* Tamaño más pequeño del lema en móviles */
    margin-top: 10px; /* Separación entre el logo y el lema */
  }
}
