/* Estilos Generales */
.container {
  background-color: #5c5c5d;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #f2f4f8;
}

.mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Logo y Lema */
.logoContainer {
  flex: 1 1 200px;
  text-align: center;
}

.lema {
  margin-top: 10px;
  font-size: 18px;
}

/* Links de Navegación */
.linksContainer {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #f2f4f8;
  text-decoration: none;
  margin: 10px 0;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ff6347;
}

/* Mapa */
.mapContainer {
  flex: 1 1 300px;
}

.mapContainer iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
}

/* Formulario de WhatsApp */
.whatsappContainer {
  flex: 1 1 200px;
  background-color: #8a8889;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
}

.whatsappTitle {
  margin-bottom: 10px;
  font-size: 18px;
}

.whatsappInput {
  width: 100%;
  padding: 10px 0px 10px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.whatsappButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.whatsappButton:hover {
  background-color: #1ebe5d;
}

.whatsappIcon {
  font-size: 20px;
}

/* Sección Social */
.socialSection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #ff6347;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: grey;
  margin-left: 20px;
}

/* Footer Inferior */
.footerBottom {
  text-align: center;
  background-color: #8a8889;
  padding: 15px;
  border-radius: 20px;
}

.speech {
  margin-bottom: 5px;
  font-size: 18px;
}

/* Media Queries para Responsividad */
@media (max-width: 900px) {
  .mainSection {
    flex-direction: column;
    align-items: center;
  }

  .linksContainer,
  .whatsappContainer {
    width: 90%;
  }

  .lema {
    font-size: 16px;
  }

  .icon {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .whatsappInput,
  .whatsappButton {
    width: 100%;
  }

  .whatsappButton {
    padding: 8px;
  }
}
