.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin-top: 100px;
  color: #ffff;
  background-image: url("../../public/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  font-weight: 700;
  font-size: 64px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filters select {
  padding: 5px;
  font-size: 14px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
  gap: 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .box {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columnas en pantallas medianas (tabletas) */
  }
}

@media (max-width: 768px) {
  .box {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas (móviles) */
  }
}
